body {
    font-family: 'Jua', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}


.fixed {
    background-color: #d3d3d3;
}
